%table
     %tr
          %td

               %input.name(type="text")
                    = @question.name unless @question.name.nil? or @question.name.empty?

               %textarea.question-content
                    = @question.description unless @question.description.nil? or @question.description.empty?
          %td
               %div
                    %p Lis채채 kuva
                    %p
                         %a(href="#show-picture") P=NP
                         %a(href="#delete-pic") [poista]
               %div
                    %p Lis채채 koodi
                    %p
                         %a(href="#show-code") automata
                         %a(href="#delete-code") [poista]
