- content_for :title do
     Dashboard
- content_for :content do
     %h2 Kurssit

     %h3 Perusopinnot

     %table#basic_studies
          %tr
               %td Ohjelmoinnin perusteet
               %td Generoi harjoitustentti
               %td Lisää tentti

          %tr
               %td Ohjelmistojen mallintaminen
               %td Generoi harjoitustentti
               %td Lisää tentti



     %h3 Aineopinnot

     %table#intermediate_studies
          %tr
               %td Tietokoneen toiminta
               %td Generoi harjoitustentti
               %td Lisää tentti

          %tr
               %td= link_to('Laskennan mallit', exams_url(:course_id => 1))
               %td= link_to("Generoi harjoitustentti", generate_exams_url(:course_id => 1))
               %td= link_to("Lisää tentti",  new_exam_url(:course_id => 1))


     %h3 Syventävät opinnot

     %table#advanced_studies
          %tr
               %td XML-tietokannat
               %td Generoi harjoitustentti
               %td Lisää tentti

          %tr
               %td Data mining
               %td Generoi harjoitustentti
               %td Lisää tentti


     %h3 Muut opinnot

     %table#other_studies
          %tr
               %td TVT-ajokortti
               %td Generoi harjoitustentti
               %td Lisää tentti
