@import compass/reset
@import _header
@import _footer
@import _main
@import _search
@import _examinput

body
     font:
          size: 75%
          family: Verdana, Arial, Helvetica, sans-serif

h1
     font:
          size: 1.5em
     text:
          transform: uppercase

h2
     margin: 0em 0em 1em 0em
     font:
          size: 1.2em
          weight: bold
     text:
          transform: uppercase
          
h3
     margin: 2em 0em 1em 0em
     font:
          size: 1.3em
     line-height: 120%
     /* text: */
          /* transform: uppercase */

p
     margin: 0px 0px 10px 0px
     line-height: 140%

a
     color: #27638C

a:hover
     color: #2d719f

@mixin content-style
     padding: 0.5em
     font:
          family: Verdana, Arial, Helvetica, sans-serif

.hilight
     font:
          weight: bold
