#header

     /* Background color and height of the header. Each area can overwrite their own background color. */
     background: #e7b01f
     height: 99px
         
     /* Tarkisto logo that works as a link to index. */
     #logo
          width: auto
          float: left
          display: block
          margin: 35px 0 0 20px
          
          a
               text-decoration: none
               
                    

     /* Log-in area. */
     #login
          float: right
          margin-right: 10px
          padding: 5px
          border: 2px solid
         

     
