html, body
     margin: 0

#container
     margin: 1em

     #header

          background:
               color: blue

          #logo
               background:
                    color: red
               width: auto

          #general
               float: right

               #login
                    background:
                         color: purple
               #links
                    background:
                         color: pink

     #search
          clear: both
          padding:
               top: 1em
          input[type=image]
               margin: 0
               padding: 0
               vertical-align: middle
          input[type=text]
               margin: 0
               padding: 0
               border: thin solid black
               vertical-align: middle

               
               
     #crumbs
          margin: 0.5em
