html, body
     margin: 0

#container
     margin: 1em

     #header

          background:
               color: blue

          #logo
               color: red

          #general

               #login

     #search

     #crumbs
