#main

     background: #fff

     #left
          float: left
          width: 23%
          bor

     #mainbody

          clear: both
          background: #fff
          position: relative
          margin-left: 15%
          margin-right: 15%
          
          padding: 1em 1.7% 4em
          border-left: 1px dashed #666
          border-right: 1px dashed #666
          min-height: 50em

          
     
          #breadcrumb
               padding-top: 1em
     
          #search
               clear: both
               padding:
                    top: 1em
                    bottom: 1em
               input[type=image]
                    margin: 0
                    padding: 0
                    vertical-align: middle
               input[type=text]
                    margin: 0
                    padding: 0
                    border: thin solid black
                    vertical-align: middle

          #content
               
               table
                    width: 100%
                    border-width: 1px 1px 1px 1px
                    border-spacing: 2px
                    border-style: solid
                    border-color: #000
                    border-collapse: collapse
                    
                    tr
                    
                         td
                              border-width: 1px 1px 1px 1px
                              padding: 3px 6px 3px 6px
                              border-style: solid
                              border-color: #000
                         th
                              font-size: 120%
                              padding: .5em 1em .5em .5em
                              
               

     #right
          float: right
          width: 21%

     
