#search
     padding:
          top: 1em
          bottom: 1em
     input[type=image]
          margin: 0
          padding: 0
          vertical-align: middle
     input[type=text]
          margin: 0
          padding: 0
          border: thin solid black
          vertical-align: middle