@import _basic-style

!tab-width: 10%

#content

     #tabs
          width = !tab-width
          float: left
          background:
               color: yellow

     #tab-content
          @include content-style
          margin:
               left = !tab-width + 1%
