@import _basic-style

!tab-width: 10%

#content

     #tabs
          width = !tab-width
          float: left
          background:
               color: yellow

     #tab-content
          margin:
               left = !tab-width + 1%
          border: thin solid black
          background:
               color: green
