it_helsinki_fi: &IT
     host: ldap-internal.it.helsinki.fi
     base: dc=helsinki,dc=fi
     bind_dn: dc=helsinki,dc=fi

cs_helsinki_fi: &CS
     host: ldap1.cs.helsinki.fi
     base: dc=cs,dc=helsinki,dc=fi
     bind_dn: ou=People,dc=cs,dc=helsinki,dc=fi

defaults: &defaults
     authentication:
          <<: *CS
          required: true
     department:
          <<: *CS
          required: true

development:
     <<: *defaults

production:
     <<: *defaults

test:

cucumber:
     authentication:
          required: false
     department:
          required: false
