- content_for :title do
     = t 'courses.levels.basic'
- content_for :content do

     %p= link_to t('pages.courses.back'), root_url

     %table#basic_studies
          %tr
               %th= t 'courses.levels.basic'
          
          = render :partial => "courses", :locals => {:courses => @courses.basic_courses}