- if questions.empty?
     %p Empty
- else
     %p Maksimipisteet: #{points}
     %ol
          - questions.each do |question|
               %div.questionblock
                    %li.question #{simple_format(question.name)} 
                    %div.description #{simple_format(question.description)}
                    %div.questionfooter Pisteet: #{question.points}
