- content_for :title do
     #{@course.name} :: #{t 'pages.exams.titles.all'}
     
- content_for :content do
     %h2= @course.name

     #examlists

          = render :partial => "table", :locals => {:exams => @exams}
