%h2 Laskennan mallit

%ul
     %li= link_to('Erilliskoe', exam_url(:course_id => 1, :id => 1))
     %li= link_to('Kurssikoe', exam_url(:course_id => 1, :id => 2))
     %li= link_to('Uusintakoe', exam_url(:course_id => 1, :id => 3))
