- content_for :title do
     #{@course.name} :: #{@exam.exam_type.name}
- content_for :content do
     %h2 #{@course.name} - #{@exam.exam_type.name}

     %h3 Kysymys 1
     %p Selit채 채채reellisist채 automaateista
