#header

     #general

          #login This is the login area
          %ul#links
               %li= link_to('FAQ', faq_url)

     #logo
          %h1 Tenttiarkisto

#search Search comes here

#crumbs Here &gt; comes &gt; crumb
