#header

     #general

          #login This is the login area
          %ul#links
               %li= link_to('FAQ', faq_url)

     #logo
          %h1= link_to('Tenttiarkisto', root_url)

#search
     
     - form_tag search_path, :method => :get do
          = text_field_tag :query
          = image_submit_tag "mag.png"
     
#crumbs Here &gt; comes &gt; crumb
